.jfx-decorator {
    -fx-decorator-color: #23497f;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.dialog{
    -fx-background-color: #23497f;
}

.label{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-padding: 9;
}

//Employee Line
.empLine{
    -fx-background-color: #2b5797;
    -fx-alignment: CENTER_LEFT;
    -fx-background-radius: 8;
}

.empLine:hover{
    -fx-background-color: #00695C;
}

//Project Line
.projectLine{
    -fx-background-color: #2b5797;
//    -fx-padding: 10;
    -fx-alignment: CENTER_LEFT;
    -fx-background-radius: 8;
//    -fx-background-insets: 3;
}

.projectLine:hover{
    -fx-background-color: #00695C;
}

.taskLine{
    -fx-background-color: #366ebf;
    -fx-alignment: CENTER_LEFT;
    -fx-background-radius: 0;
}

.taskLine:hover{
    -fx-border-color: #00b69f;
    -fx-border-width: 3;
}

.worklogLine{
    -fx-background-color: #A9A9A9;
    -fx-alignment: CENTER_LEFT;
}

.worklogLine:hover{
    -fx-border-color: #FFFFFF;
    -fx-background-radius: 2;
}

//ProjectLineButtons
.projectLineButtons{
    -fx-alignment: CENTER_RIGHT;
}

.jfx-text-field{
    -fx-background-color: #FFFFFF;
    -fx-font: 13px "System";
    -fx-focus-traversable: true;
}

//text field line
.input-line{
    -fx-pref-height: 0;
}

//text focused field line
.input-focused-line{
    -fx-pref-height: 0;
}

.icon-rippler{
//   -jfx-mask-type: CIRCLE;
   -jfx-rippler-fill: #FFFFFF;
   -fx-cursor: hand;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #23497f;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #23497f;
}

.scroll-pane{
    -fx-background-color: #FFFFFF
}

.split-pane-divider {
    -fx-padding: 2 ;
}

.scroll-bar{
    -fx-background-color: white;
    -fx-padding: 3;
}

.thumb{
    -fx-background-color: lightgrey;
    -fx-background-radius: 0;
    -fx-background-insets: 2;
}

#loginfieldstandard{
    -fx-background-color: #FFFFFF;
}

#loginfielderror{
    -fx-background-color: #FFCDD2;
}

#account {
    -fx-background-color: #FFCDD2;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}