//text field line
.input-line{
    -fx-pref-height: 0;
}

//text focused field line
.input-focused-line{
    -fx-pref-height: 0;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #254d87;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #254d87;
}

.split-pane-divider {
  -fx-padding: 0.2 ;
}

#loginfieldstandard{
    -fx-background-color: #FFFFFF;
}

#loginfielderror{
    -fx-background-color: #FFCDD2;
}



#account {
    -fx-background-color: #FFCDD2;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}